{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<h1>Welcome.</h1> 

<!-- Trigger/Open The Modal -->
<br>
<button id="postBtn">New Post</button>
<br>
<button id="getPostBtn">Get Posts</button>
<!-- <div id="post-list-view">
</div> -->

<!-- Modal for new post -->
  <div id="newPostModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>

      <div id="compose-view">
          <h3>What's on your mind?</h3>
          <form id="compose-form">
              <textarea class="form-control" id="postContent" placeholder="Everything is Awesome!"></textarea>
              <input id="sendNewPost" type="button" class="btn btn-primary" value="Post"/>
          </form>
      </div>
    </div>
  </div>



{% endblock %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}